@* Generator: MvcView *@

@using System.Web
@using Horseshoe.NET.Bootstrap
@using Horseshoe.NET.Text

@model Horseshoe.NET.Bootstrap.Bootstrap4.Alert

@{
    var alertDetailsElementID = "alert-exception-" + Guid.NewGuid();
}

<div class="alert @(Model.AlertType.ToCssClass() + (Model.Closeable ? " alert-dismissible" : "") + (Model.Fade ? " fade" : "") + (Model.Show ? " show" : ""))">
    @{
        if (Model.Closeable)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        }

        if (Model.Emphasis != null)
        {
            <strong>@Model.Emphasis</strong>@Html.Raw(" - ")
        }

        var message = TextUtil.RevealNullOrBlank(TextUtil.Zap(Model.Message));
        if (Model.MessageEncodeHtml)
        {
            message = HttpUtility.HtmlEncode(message);
        }
        message = message.Replace("\n", "<br />\n");

        @Html.Raw(message)

        if (Model.MessageDetails != null)
        {
            bool usePre = false;
            bool htmlEncoded = false;
            var messageDetails = Model.MessageDetails;

            if ((Model.MessageDetailsRendering & AlertMessageDetailsRenderingPolicy.Hidden) == AlertMessageDetailsRenderingPolicy.Hidden)
            {
                <div style="display:none;">
                    @Html.Raw(messageDetails)
                </div>
            }
            else
            {
                usePre = (Model.MessageDetailsRendering & AlertMessageDetailsRenderingPolicy.PreFormatted) == AlertMessageDetailsRenderingPolicy.PreFormatted;
                htmlEncoded = (Model.MessageDetailsRendering & AlertMessageDetailsRenderingPolicy.HtmlEncoded) == AlertMessageDetailsRenderingPolicy.HtmlEncoded;

                if (htmlEncoded)
                {
                    messageDetails = HttpUtility.HtmlEncode(messageDetails);
                }
                if (!usePre)
                {
                    messageDetails = messageDetails.Replace("\n", "<br />\n");
                }

                <script type="text/javascript">
                    function ToggleAlertDetails(clickedLink, alertDetailsElementID) {
                        if (window.jQuery) {
                            var $clickedLink = $(clickedLink);
                            if ($clickedLink.prop("toggled")) {
                                $("#" + alertDetailsElementID).hide();
                                $clickedLink.text("show details");
                                $clickedLink.prop("toggled", false);
                            }
                            else {
                                $("#" + alertDetailsElementID).show();
                                $clickedLink.text("hide details");
                                $clickedLink.prop("toggled", true);
                            }
                        }
                        else {
                            if (clickedLink.toggled) {
                                document.getElementById(alertDetailsElementID).style.display = "none";
                                clickedLink.innerText = "show details";
                                clickedLink.toggled = false;
                            }
                            else {
                                document.getElementById(alertDetailsElementID).style.display = "block";
                                clickedLink.innerText = "hide details";
                                clickedLink.toggled = true;
                            }
                        }
                    }
                </script>
                <div>
                    <a href="javascript:;" onclick="ToggleAlertDetails(this, '@alertDetailsElementID')">show details</a>
                </div>
                <div id="@alertDetailsElementID" style="display:none;@(usePre ? "font-family:Consolas,monospace;font-size:.8em;white-space:pre;" : ""))">@Html.Raw(messageDetails)</div>
            }
        }
    }

</div>
