@* Generator: MvcView *@

@using System.Web
@using Horseshoe.NET
@using Horseshoe.NET.Mvc
@using Horseshoe.NET.Text

@model Horseshoe.NET.Mvc.Bootstrap3.Alert

@{
    var alertDetailsElementID = "alert-exception-" + Guid.NewGuid();
}

<div class="alert @(Model.AlertType.ToCssClass() + (Model.Closeable ? " alert-dismissible" : ""))">
    @{
        if (Model.Closeable)
        {
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        }

        if (Model.Emphasis != null)
        {
            <strong>@Model.Emphasis</strong>@Html.Raw(" - ")
        }

        var message = TextUtil.Reveal(TextUtil.Zap(Model.Message), nullOrBlank: true);
        if (Model.MessageHtmlEncoded)
        {
            message = HttpUtility.HtmlEncode(message);
        }
        message = message.Replace("\n", "<br />\n");

        @Html.Raw(message)

        if (Model.MessageDetails != null)
        {
            bool usePre = false;
            bool htmlEncoded = false;
            var messageDetails = Model.MessageDetails;

            if ((Model.MessageDetailsRendering & AlertMessageDetailsRenderingPolicy.Hidden) != AlertMessageDetailsRenderingPolicy.Hidden)
            {
                usePre = (Model.MessageDetailsRendering & AlertMessageDetailsRenderingPolicy.PreFormatted) == AlertMessageDetailsRenderingPolicy.PreFormatted;
                htmlEncoded = (Model.MessageDetailsRendering & AlertMessageDetailsRenderingPolicy.HtmlEncoded) == AlertMessageDetailsRenderingPolicy.HtmlEncoded;

                if (htmlEncoded)
                {
                    messageDetails = HttpUtility.HtmlEncode(messageDetails);
                }
                if (!usePre)
                {
                    messageDetails = messageDetails.Replace("\n", "<br />\n");
                }

                <script type="text/javascript">
                    function ShowBootstrapAlertMessageDetails(clickedLink, alertDetailsElementID) {
                        if (window.jQuery) {
                            $('#' + alertDetailsElementID).show();
                            $(clickedLink).hide();
                        }
                        else {
                            var alertDetailsElement = document.getElementById(alertDetailsElementID);
                            alertDetailsElement.style.display = 'block';
                            clickedLink.style.display = 'none';
                        }
                    }
                </script>
                <div>
                    <a href="javascript:;" onclick="ShowBootstrapAlertMessageDetails(this, '@alertDetailsElementID')">show details</a>
                </div>
                <div id="@alertDetailsElementID" style="font-family:Consolas,monospace;font-size:.8em;@(usePre ? "white-space:pre;" : ""))">
                    @Html.Raw(messageDetails)
                </div>
            }
            else
            {
                <div style="display:none;">
                    @Html.Raw(messageDetails)
                </div>
            }
        }
    }

</div>

