@using Horseshoe.NET
@using Horseshoe.NET.Mvc

@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <style type="text/css">

        .test-table {
            border: 2px solid black;
            border-collapse: collapse;
            text-align: left;
            margin-top: 20px;
        }

            .test-table td,
            .test-table th {
                padding: 0 3px;
            }

            .test-table .section-header {
                background-color: #2f0664;
                color: white;
                font-size: 1.35em;
            }
    </style>
}

<table class="test-table">
    <tr>
        <th class="section-header" colspan="2">Machine Properties</th>
    </tr>
    <tr>
        <th>IPv4 Addresses</th>
        <td>@Html.Raw(string.Join("<br />", Machine.IPv4Addresses))</td>
    </tr>
    <tr>
        <th>IPv6 Addresses</th>
        <td>@Html.Raw(string.Join("<br />", Machine.IPv6Addresses))</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Machine.Name</td>
    </tr>
    <tr>
        <th>Fully Qualified Name</th>
        <td>@Machine.FullyQualifiedName</td>
    </tr>
</table>

<table class="test-table">
    <tr>
        <th class="section-header" colspan="2">Request Extensions</th>
    </tr>
    <tr>
        <th>Remote IP Address</th>
        <td>@(Request.GetRemoteIPAddress())</td>
    </tr>
    <tr>
        <th>Remote Machine Name</th>
        <td>@(Request.GetRemoteMachineName())</td>
    </tr>
    <tr>
        <th>Original Request Body</th>
        <td>@(ViewBag.OriginalRequestBody ?? "(click submit)")</td>
    </tr>
    <tr>
        <th></th>
        <td>
            @using (Html.BeginForm("OriginalRequestBodyTest", "Home", FormMethod.Post))
            {
                <span>intValue1=</span><input name="intValue1" value="1" size="2" />
                <span>textValue1=</span><input name="textValue1" value="summer eve" /><br />
                <button type="submit">submit</button>
            }
        </td>
    </tr>
</table>

