@using TestMVC.ViewModels

@model WebIndexViewModel

@{
    ViewBag.Title = "Web Tests";
}

@section Styles {
    <style type="text/css">

        .test-table {
            border: 2px solid black;
            border-collapse: collapse;
            text-align: left;
            margin-top: 20px;
        }

            .test-table td,
            .test-table th {
                padding: 0 3px;
            }

            .test-table .section-header {
                background-color: #2f0664;
                color: white;
                font-size: 1.35em;
            }
    </style>
}

<table class="test-table">
    <tr>
        <th class="section-header" colspan="2">Request Extensions</th>
    </tr>
    <tr>
        <th>GetAbsoluteApplicationPath()</th>
        <td>@Model.AbsoluteApplicationPath</td>
    </tr>
    <tr>
        <th>GetAbsoluteApplicationPath("/api")</th>
        <td>@Model.AbsoluteApplicationPath_API</td>
    </tr>
    <tr>
        <th class="section-header" colspan="2">HttpRequest</th>
    </tr>
    @{
        var httpRequestProperties = Model.HttpRequest.GetType().GetProperties();
        foreach (var prop in httpRequestProperties)
        {
            string displayValue;
            string style = "";
            try
            {
                object value = prop.GetValue(Model.HttpRequest);
                if (value == null)
                {
                    displayValue = "[null]";
                }
                else if (value is string)
                {
                    displayValue = (string)value;
                }
                else
                {
                    Type valueType = value.GetType();
                    if (value.GetType().IsClass)
                    {
                        displayValue = value.GetType().FullName;
                        style = "font-family:'Consolas',monospace;font-size:.9em";
                    }
                    else
                    {
                        displayValue = value.ToString();
                    }
                }
            }
            catch (Exception ex)
            {
                displayValue = ex.GetType().FullName + ": " + ex.Message;
            }
            <tr>
                <th>@prop.Name</th>
                <td style="@style">@displayValue</td>
            </tr>
        }
    }
    <tr>
        <th class="section-header" colspan="2">HttpRequest.Url</th>
    </tr>
    @{
        var urlProperties = Model.HttpRequest.Url.GetType().GetProperties();
        foreach (var prop in urlProperties)
        {
            string displayValue;
            string style = "";
            try
            {
                object value = prop.GetValue(Model.HttpRequest.Url);
                if (value == null)
                {
                    displayValue = "[null]";
                }
                else if (value is string)
                {
                    displayValue = (string)value;
                }
                else
                {
                    Type valueType = value.GetType();
                    if (value.GetType().IsClass)
                    {
                        displayValue = value.GetType().FullName;
                        style = "font-family:'Consolas',monospace;font-size:.9em";
                    }
                    else
                    {
                        displayValue = value.ToString();
                    }
                }
            }
            catch (Exception ex)
            {
                displayValue = ex.GetType().FullName + ": " + ex.Message;
            }
            <tr>
                <th>@prop.Name</th>
                <td style="@style">@displayValue</td>
            </tr>
        }
    }
</table>

<table class="test-table">
    <tr>
        <th class="section-header" colspan="2">Request Body Test</th>
    </tr>
    <tr>
        <th>test:</th>
        <td>
            @using (Html.BeginForm("RequestBodyTest", "Web", FormMethod.Post))
            {
                <input name="intValue1" value="1" /><br />
                <input name="textValue1" value="summer eve" /><br />
                <button type="submit">submit</button>
            }
        </td>
    </tr>
    <tr>
        <th>result:</th>
        <td>
            @(Html.Raw(Model.RequestBodyTestResult?.Replace(Environment.NewLine, "<br/>")))
        </td>
    </tr>
</table>